<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:href="@{/css/styleHome.css}" rel="stylesheet" />
</head>
<body>
<div class="home">
    <h1 class="title">Welcome to Book Store</h1>
    <div class="btn_class">
        <button class="btn">
            <a href="./Login.html">Login </a>

        </button>
        <button class="btn">
            <a href="Registration.html">
                Register
            </a></button>
    </div>
</div>
</body>
</html>